{{page-title "TaskManagement"}}

Welcome to my Task Management Application
<br><br>

Enter your Name Here to Access the Task System Portal  :
{{input value=this.authorName placeholder= 'Enter your name'}}

<button type="button" {{on "click" this.login}}>Enter</button>

<div class={{if this.isLoginSuccessful "success" "failure"}}>
  {{this.loginMessage}}
</div>

<br><br>
If you haven't registered yet, click here to create an account :

<button type="button" {{on "click" this.goToRegister}}>Register</button>

{{outlet}}
