{{page-title "CreateTask"}}
<div class="container">

  <label class="label-style">Create Task</label>
  <br>

  <form {{on "submit" this.createNewTask}}>

    <label class="input-style">Title</label>
    {{!-- Text Title --}}
    {{input value=this.title placeholder= 'Enter your title'}}

    <br><br><br>
    <label class="input-style">Task Description</label>
    {{!-- Textarea for description --}}
    {{textarea value=this.description placeholder="Description"}}

    <br><br><br>
    <label class="input-style">Task Status</label>
    {{!-- Status dropdown --}}
    <select {{on "change" this.updateStatus}}>
      <option value="todo">todo</option>
      <option value="in-progress">in-Progress</option>
      <option value="completed">completed</option>
    </select>

    <br><br><br>
    <label class="input-style">Due Date</label>
    {{!-- Due Date field --}}
    <input type="date" value={{this.dueDate}} {{on "change" this.updateDueDate}} />

    <br><br>
    <button type="submit"  class="nice-button label-style">Create Task</button>
    
    <button type="button" {{on "click" this.cancelTaskCreation}} class="cancel-button label-style">Cancel</button>

    <br><br>
    <div class={{if this.isSuccessful "success" "failure"}}>
      {{this.message}}
    </div>

  </form>

</div>

{{outlet}}
