{{page-title "Update Task"}}

<br><br>
Update Task Module

<form {{on "submit" this.fetchTaskByTitle}}>
  <label for="taskTitle">Enter Task Title to Update:</label>
  <input type="text" id="taskTitle" {{on "input" this.updateTaskInput}} value={{this.taskInput}} />
  <br>
  {{#if this.message}}
  <p class={{if this.successfulFind "success" "failure"}}> {{this.message}} </p> 
{{/if}}
  <br>
  <button type="submit">Retrieve Task</button>

  <br><br>
  <LinkTo @route="tasks">Back to Task Page</LinkTo>
</form>

{{#if this.display}}
  <form {{on "submit" this.updateExistingTask}}>
    <label for="title">Title:</label>
    <br>
    {{input id="title" value=this.task.title placeholder='Enter your title'}}

    <br><br>
    <label for="description">Task Description:</label>
    <br>
    {{!-- Textarea for description --}}
    {{textarea id="description" value=this.task.description placeholder="Description"}}

    <br><br>
    <label for="status">Task Status:</label>
    <br>
    {{!-- Status dropdown --}}
    <select id="status" value={{this.task.status}} {{on "change" this.updateTaskStatus}}>
      <option value="todo">Todo</option>
      <option value="in-progress">In Progress</option>
      <option value="completed">Completed</option>
    </select>

    <br><br>
    <label for="dueDate">Due Date:</label>
    <br>
    {{!-- Due Date field --}}
    <input type="date" id="dueDate" value={{this.task.dueDate}} {{on "change" this.updateTaskDueDate}} />

    <br><br>
    <button type="submit">Update Task</button>
  </form>
  <br>
  <button type="button" {{on "click" this.goBack}} >Back</button>
  <br>
  {{#if this.messageUpdate}}
  <p class= "failure"> {{this.messageUpdate}} </p> 
  {{/if}}
{{/if}}

{{outlet}}


